<% @title= "Sites and Projects from Ryan Everett a web developer from New Jersey" %>
<meta name="description" content="A list of site and projects created by Ryan Everett a web deleoper that uses ruby on rails to create dynamic websites.">
<div id="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<h1 id="listing_page_header">My Projects by Most Recent</h1><hr>

<div class="listing animated fadeInLeftBig">
  <h3 id='h3_live' class="sliding-u-l-r-l">Live Websites</h3><br>
</div>

<%= link_to "/projects/#{@wallpaper.title}" do %>
  <div class="listing animated fadeInLeftBig">
    <h3 class="sliding-u-l-r-l"><%=@wallpaper.title%></h3><br>
    <%= image_tag @wallpaper.image.url,class:"listing_pic d-flex ml-3" %>
    <p><%= truncate(@wallpaper.description, :length => 150)%></p>
  </div>
<%end%>

<%= link_to "/projects/#{@bug.title}" do %>
  <div class="listing animated fadeInLeftBig">
    <h3 class="sliding-u-l-r-l"><%=@bug.title%></h3><br>
    <%= image_tag @bug.image.url,class:"listing_pic d-flex ml-3" %>
    <p><%= truncate(@bug.description, :length => 150)%></p>
  </div>
<%end%>


<div class="listing animated fadeInLeftBig">
  <h3 id='h3_live' class="sliding-u-l-r-l">Concepts and Projects</h3><br>
</div>

<br>
<% @projects.each do |project| %>
  <%if @counter.even?%>
    <%= link_to "/projects/#{project.title}" do %>
      <div class="listing animated fadeInLeftBig">
        <h3 class="sliding-u-l-r-l"><%=project.title%></h3><br>
        <%= image_tag project.image.url,class:"listing_pic d-flex ml-3" %>
        <p><%= truncate(project.description, :length => 150)%></p>
      </div>
    <%end%>
  <%else%>
    <%= link_to "/projects/#{project.title}" do %>
      <div class="listing animated fadeInRightBig">
        <h3 class="sliding-u-l-r-l"><%=project.title%></h3><br>
        <%= image_tag project.image.url,class:"listing_pic d-flex ml-3" %>
        <p><%= truncate(project.description, :length => 150)%></p>
      </div>
    <%end%>
  <%end%>
  <%@counter+=1%>
<% end %>
