<!DOCTYPE html>
<html>
<head>
  <title><%= @title||= "Ryan Everett's portfolio a web developer in New Jersey " %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,600" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
  <%= render partial: "layouts/g_analytics" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class="">

    <div id="body"><%= yield %></div>

  </div>
  <div id="footer">
    <div id="footer_text">
      <a href="javascript:void(0)"id="color_change">Colorize!</a>
      Find me on: <%=link_to image_tag("linkedin-logo.png")+" Linkedin", "https://www.linkedin.com/in/ryan-everett-9b60a2136"%> <%=link_to image_tag("github-sign.png")+" GitHub", "https://github.com/reverett4994?tab=repositories"%>  	&nbsp;and <a href="mailto:reverett4994@gmail.com">reverett4994@gmail.com</a>
    </div>
  </div>
  <%= render partial: "layouts/ganalytics_pageview" %>
</body>
</html>
<script>
  $(".navbar-nav li").hover(function(){
    $(this).addClass("animated infinite jello");
    },function(){
      $(this).removeClass("animated infinite jello");
  })
  var styles=["blue","usa","orange","tan","green"];
  var counter=-1
  $( "#color_change" ).click(function() {
    if (counter == 5){
      counter = -1;
    }
    counter +=1
    $( "#wrapper" ).removeClass( "blue orange tan green usa" );
    $( "#wrapper" ).addClass( styles[counter] );

    switch (counter) {
    case 0:
        $(this).text("Sky Blue!");
        break;
    case 1:
        $(this).text("USA!");
        break;
    case 2:
        $(this).text("Broncos");
        break;
    case 3:
        $(this).text("Wheat Fields");
        break;
    case 4:
        $(this).text("Sea Weed");
        break;
    case 5:
        $(this).text("Colorize!");
    //case 6:
    //    $(this).text("0");
}
  });

</script>
